<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
            <!-- <a href="/gridview">grid Input</a>
            
            <a href="/getdata">Pagination</a> -->

            <a href="/searchview">Pagination On Search</a>
            <a href="/gridview">grid Input</a>
            <a href="/getdata">Pagination</a> 
            <a href="/getformdata">Job Application Form</a> 
            <a href="../public/TicTacToe/TicTac.html">Tic Tac</a>
            <a href="../public/TicTacToe/TicTac.html">Tic Tac</a>
            <a href="../public/ColorChange/colorchange.html">ku ku cube</a>
            <a href="../public/Prototype 1/index.html">protype 1</a>
            <a href="../public/prototype-2/index.html">protype 2</a>
            
            
</body>
</html>